
.Administrador{
    text-align: center;
    background-image: url(../src/img/Administradores.jpg);
    padding: 60px;
    width: 1200px;
    height: 700px;
    float: left;
}
.section{
    float: left;
    background-color: lightpink;
    background-image: url(./img/Us.png);
    color:blue;
    width: 200px;
    height: 300px;
    text-align: center;
}
.ken{
    width: 900px;
    height: 300px;
    padding: 30px;
    margin:20px;
    text-align: center;
    font-style: italic;
    font-family: gothic Medium;
    font-size: x-large;
}