
.nosotros{
    background-image: url(./img/Nosotros.jpg);
    padding: 40px;
    width: 1200px;
    height: 600px;
    color: white;
}
.nos{
    width: 1200px;
    height: 250px;
    background-size: cover;
}
.mision{
    width: 500px;
    height: 250px;
    padding: 20px;
    float: left;
    text-align: center;
}
.vision{
    width: 500px;
    height: 250px;
    padding: 20px;
    float: left;
    text-align: center;
}
