
.poadm{
    background-color: black;
    width: 1300px;
    height: 800px;
    background-image: url(./img/BTSIM.png);
    color: white;
    font-size: x-large;
}
.navegacion{
    background-color: white;
    background-image: url(../src/img/Us.png);
    margin: 30px;
    width: 400px;
    height:500px;
    text-align: center;
    float: left;
}
.D{
    margin: 30px;
    text-align: center;
    padding: 20px;
    background-color: violet;
}
.frase{
    color:white;
    background-color: black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 30px;
    float: left;
}